<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />

body {

	background-color:#fff;

	font-family:"Open Sans", Helvetica, Arial, sans-serif;	

	margin:0;

	padding:0;

}



html{

       margin:0; 

       padding:0;

       overflow-y:scroll;

}



a {

	text-decoration:none;

	color:#222;

}



a:hover {

	color:#ea2d15;

}





#container {

        background-color:#fff;

        margin:10px auto 10px auto;

	width:752px;

   

}



#pop {

        background-color:#fff;

        margin:30px 30px 30px 30px;

        color:#444;

	line-height:1.5em;

        font-size:0.95em;

	

}



#pop h1 {

	margin:0 0 0 0;

	font-size:1.3em;

	font-weight:normal;

	color:#1D406D;

       

  

}



#header {

        background-color:#fff;

	margin:0;

	padding:0;

        width:752px;



}



#header h2 {

	margin:0 0 0 0;

	font-size:0.8em;

	font-weight:normal;

	color:#727376;

        height:70px;

  

}





#header h1{

	margin:0 0 0 0;

	font-size:0.8em;

	font-weight:normal;

	color:#999; 

        height:20px;

        float:right;

  

}







div.log{ 

	background-image: url(banner.png); 

        height:150px;

        width:752px;



}

 

   

.log ul{

    margin:10px 10px 10px 10px;

    padding:0px 0px 0px 0px;

    bottom:0px;

    width:780px;

    height:40px;

    font-size:2.5em;

    margin:0 0 0 0;

    text-align:right;

    list-style:none;

    background-color:#2B688C;

    color:#fff; 

    filter:alpha(opacity=60);

    opacity:0.5;



}

.log li{

    height:30px;

    line-height:30px;

    width:752px;

    list-style:none;

    display:inline;

   



}

	

div.menu{

    display:block;

    color:#222;

    width:752px;

    height:30px;

    font-size:1em;

    letter-spacing:1.2px;

    font-weight:bold;

background-color:#222;



  

}





.menu ul{

    position:absolute;

    bottom:0px;

    width:752px;

    height:30px;

    margin:0;

    padding-left:0;

    list-style:none;



}



.menu li{

    height:30px;

    line-height:30px;

    float:left;

    width:25%;

    list-style:none;

    display:inline;

    text-align:center;

    background-color:#fff;

}



.menu a{

    text-decoration:none;

    display:block;

    color:#fff;

    background-color:#222;

 

}



.menu a:hover{

    width:100%;

    height:100%;

    color:#ea2d15;

    background-color:#fff;

}







#content {

	margin:30px 0px 0px 0px;

	padding:0px 0px 0px 0px;

        width:752px;

	color:#444;

	line-height:1.5em;

        font-size:0.95em;



}

#content a {

       color:#1D406D;

}



#content a:hover {

	color:#ea2d15;

}



#content p {

	padding:2px 20px;

	margin:0px 0 0 30px;

	text-align:justify;

	text-indent:0cm;



}



#content ul {

	margin:0 0 0 30px;

        list-style-type:square;

	text-indent:0cm;

}

#content li {

	padding:3px;

}





#content h2 {

	display:block;

	margin:10px 0 0 10px;

	padding:0;

	font-size:1.3em;

        color:#1D406D;

	letter-spacing:1.2px;	

}



#content h3 {

	display:block;

	margin:10px 0 0 10px;

	padding:0;

	font-size:1.1em;

        color: #237dc1;

	letter-spacing:1.2px;	

}

#content blockquote {

	margin:10px 60px;

	padding:10px 0px 10px 10px;

	color:#444;    

	border:1px solid #222;

        list-style-type:square;

        text-indent:0cm;

	

}

#content blockquote p {

        font-weight:bold;

        color:#1D406D;

	margin:0;

	padding:0;

        font-size:1.2em;

}



#pub {

	margin:5px 0 0px 0px;



}



#pub ul {

	list-style:decimal outside;

	text-indent:0cm;

}



#footer {

        clear: both;

	font-size:12px;

	margin:90px 0 20px 0;

	padding:5px;

        text-align:center;

	border-top:1px solid  #222;



}



